/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ARTIC_GUPPYPLEX' {
        ext.args = '--skip-quality-check'
        publishDir = [
            path: { "${params.outdir}/guppyplex" },
            enabled: false
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'FASTQSCAN' {
        publishDir = [
            path: { "${params.outdir}/fastqscan" },
            mode: params.publish_dir_mode,
            pattern: '*.json'
        ]
    }

    withName: 'FASTQSCANPARSE' {
        publishDir = [
            path: { "${params.outdir}/metadata" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: 'PYCOQC' {
        publishDir = [
            path: { "${params.outdir}/pycoqc" },
            mode: params.publish_dir_mode,
            pattern: '*.{html,json}'
        ]
    }

    withName: 'NANOPLOT' {
        publishDir = [
            path: { "${params.outdir}/nanoplot" },
            mode: params.publish_dir_mode,
            pattern: '*.{html,png}'
        ]
    }

    withName: 'KRAKEN2_KRAKEN2' {
        ext.args = '--report-zero-counts'
        publishDir = [
            path: { "${params.outdir}/kraken2" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt,out}'
        ]
    }

    withName: 'BRACKEN_BRACKEN' {
        ext.args = '-l S -t 10'
        publishDir = [
            path: { "${params.outdir}/bracken" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: 'KRAKENPARSE' {
        publishDir = [
            path: { "${params.outdir}/metadata" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            pattern: 'multiqc*'
        ]
    }

}
